@import '../../../variables';

.product-dashboard{
  .btn-delete{
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  .table-title{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
  }
  .user-table{
    th{
      color: #737373;
      font-weight: 600;
      font-size: 11px;
      line-height: 14px;
      min-width: 200px;
      &:first-child{
        min-width: 30px;
      }
    }
    td {
      font-weight: 400;
      font-size: 11px;
      color: #000;
      line-height: 14px;
    }
    .form-check-input{
      width: 12px;
      height: 12px;
    }
    .info-icon{
      color: #1494D5;
    }
    .icon-bg{
      padding: 2px 5px;
      background: #F9F9F9;
      border: 1px solid $border-color;
      border-radius: 3px;
    }
    .drag-icon{
      padding: 2px 6px;
      img{
        vertical-align: baseline;
      }
    }
    .highlight td{
      background-color: #FFDADA;
    }
  }
}
.bi-caret-up-fill::before{
  position: absolute;
  color: #000;
}
.bi-caret-down-fill::before{
  position: absolute;
  top: 7px;
  color: #000;
}
.active-sort-icon .bi::before{
  color: #999;
}

