<div class="product-container container-fluid px-0">
  <div class="row mx-0 h-100">
    <div class="col-12 col-md-7 px-0 h-100">
      <div class="product-left-content h-100">
        <div class="product-titles-container d-flex flex-column h-100">
          <div class="product-title shadow-effect">
            Digital <span class="fw-light ps-2">Platform</span>
          </div>
          <div class="product-title">
            <span class="fw-light pe-2">for distance</span> learning
          </div>
          <div class="product-description">
            Internet and online based digital technologies such as desktop computers, mobile phones and other
          </div>
        </div>
        <div class="product-icons-image">
          <img src="./../../assets/images/image1.png" alt="message_icon"/>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 px-0">
      <div class="product-right-content d-flex justify-content-center align-items-center h-100">
        <div class="product-login-form">
          <div class="product-logo text-center">
            <img src="./../../assets/images/logo.png" alt="logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
