@import '../../variables';

.product-container{
  height: 100vh;
  .product-left-content{
    background: $primary-color;
    position: relative;
    .product-titles-container{
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      width: calc(505px + 71px);
      padding-top: 189px;
      padding-left: 71px;
      .product-title{
        font-weight: 700;
        font-size: 52px;
        line-height: 71px;
        display: flex;
        align-items: flex-end;
        color: #000000;
        &.shadow-effect::before{
          content: '';
          position: absolute;
          width: 166px;
          height: 166px;
          left: 17.35px;
          top: 180.31px;
          background: #D94E3B;
          opacity: 0.25;
          filter: blur(51px);
          transform: rotate(-15deg);
        }
      }
      .product-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }
    .product-icons-image{
      position: absolute;
      bottom: 0;
      right: 62px;
    }
  }
  .product-right-content{

    .product-login-form {
      width: 330px;
      .product-lock{
        margin-top: 70px;
        .lock-image{
          width: 48px;
          height: 48px;
          background: #FFF2F2;
          border-radius: 48px;
        }

      }
      .product-welcome-text{
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
      }
      .forgot-text {
        a{
          color: #797979;
          text-decoration: none;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .sign-up-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #797979;
        a{
          color: #444444;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }
  }
}
