<div class="login-main container-fluid px-0">
  <div class="row mx-0 h-100">
    <div class="col-12 col-md-7 px-0 h-100">
      <div class="login-left-section h-100">
        <div class="login-title-content d-flex flex-column g-4">
          <div class="login-title">
            Digital <span class="fw-light ps-2">Platform</span>
          </div>
          <div class="login-title">
            <span class="fw-light pe-2">for distance</span> learning
          </div>
          <div class="login-title-content">
            Internet and online based digital technologies such as desktop computers, mobile phones and other
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 px-0">
      <div class="login-right-section"></div>
    </div>
  </div>
</div>
