@import '../../variables';

.login-main{
  height: 100vh;
  .login-left-section{
    background: $primary-color;
    .login-title-content{
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      width: 505px;
      margin: auto;
      height: 100%;
      justify-content: center;
    }
    .login-title{
      font-weight: 700;
      font-size: 52px;
      line-height: 71px;
      display: flex;
      align-items: flex-end;
      color: #000000;
    }
    .login-title-content{
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
