@import '../../variables';
@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
.product-container{
  .product-column{
    @include media-breakpoint-down(767px) {
      display: flex;
      align-items: stretch;
    }
  }
  .product-left-content{
    background: $secondary-color;
    position: relative;
    @include media-breakpoint-down(767px) {
      height: auto !important;
    }
    .product-titles-container{
      align-items: flex-start;
      padding: 0px;
      gap: 24px;
      width: calc(505px + 71px);
      padding-top: 189px;
      padding-left: 71px;
      @include media-breakpoint-down(767px) {
        padding-top: 42px;
        padding-left: 24px;
        padding-right: 24px;
        gap: 6px;
        width: 100%;
      }
      @include media-breakpoint-down(991px) {
        padding-top: 42px;
        padding-left: 24px;
        padding-right: 24px;
        gap: 6px;
        width: 100%;
      }
      .product-title{
        font-weight: 700;
        font-size: 52px;
        line-height: 71px;
        display: flex;
        align-items: flex-end;
        color: #000000;
        @include media-breakpoint-down(767px) {
          font-size: 20px;
          line-height: 33px;
        }
        @include media-breakpoint-down(991px) {
          font-size: 24px;
          line-height: 33px;
        }
        &.shadow-effect::before{
          content: '';
          position: absolute;
          width: 166px;
          height: 166px;
          left: 17.35px;
          top: 180.31px;
          background: $primary-color;
          opacity: 0.25;
          filter: blur(51px);
          transform: rotate(-15deg);
          @include media-breakpoint-down(991px) {
            content: unset;
          }
        }
      }
      .product-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }
    .product-icons-image{
      position: absolute;
      bottom: 0;
      right: 62px;
      @include media-breakpoint-down(767px) {
        right: 10px;
      }
      img{
        @include media-breakpoint-down(767px) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  .product-right-content{
    @include media-breakpoint-down(767px) {
      height: auto !important;
    }
    .product-login-form {
      width: 330px;
      .product-lock{
        margin-top: 70px;
        @include media-breakpoint-down(767px) {
          margin-top: 35px;
        }
        .lock-image{
          width: 48px;
          height: 48px;
          background: $secondary-color;
          border-radius: 48px;
        }

      }
      .product-welcome-text{
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        @include media-breakpoint-down(767px) {
          font-size: 20px;
          line-height: 27px;
        }
      }
      .forgot-text {
        a{
          color: #797979;
          text-decoration: none;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .sign-up-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #797979;
        a{
          color: #444444;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }
  }
}

